<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active">Lista de Funcionários</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active">Novo Funcionário</a>
    </li>
    <li class="nav-item">
        <a routerLink="novoPagamento" class="nav-link" routerLinkActive="active">Novo Pagamento</a>
    </li>
    <li class="nav-item">
        <a routerLink="pagamentos" class="nav-link" routerLinkActive="active">Lista de Pagamentos</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>Trabalho Extra de Padrões de Projeto - Thiago R. V. Martins</span>
  </div>
</footer>
