<h2>Detalhes de Pagamento</h2>

<hr/>
<div *ngIf="pagamento">
  <div>
    <label><b>Descrição: </b></label> {{pagamento.descricao}}
  </div>
  <div>
    <label><b>Valor: </b></label> {{pagamento.valor}}
  </div>
  <div>
    <label><b>Solicitante: </b></label> {{pagamento.solicitante.nome}}
  </div>
  <div>
    <label><b>Data de Vencimento: </b></label> {{pagamento.dataVencimento}}
  </div>
  <div>
    <label><b>Aprovado: </b></label> {{pagamento.aprovado}}
  </div>
  <div>
    <label><b>Data de Aprovação: </b></label> {{pagamento.dataAprovacao}}
  </div>
  <div>
    <label><b>Motivo de Rejeição: </b></label> {{pagamento.motivoRejeicao}}
  </div>
  <div>
    <label><b>Detalhes: </b></label> {{pagamento.detalhes}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Voltar a lista de Pagamentos</button><br>
