<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Lista de Pagamentos</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Descricao</th>
          <th>Valor</th>
          <th>Solicitante</th>
          <th>Data de Vencimento</th>
          <th>Aprovado</th>
          <th>Data de Aprovação</th>
          <th style="text-align:center">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pagamento of pagamentos | async">
          <td>{{pagamento.descricao}}</td>
          <td>{{pagamento.valor}}</td>
          <td>{{pagamento.solicitante.nome}}</td>
          <td>{{pagamento.dataVencimento}}</td>
          <td>{{pagamento.aprovado}}</td>
          <td>{{pagamento.dataAprovacao}}</td>
          <td><button (click)="aprovaPagamento(pagamento.id)" class="btn btn-success" style="margin-right: 10px">Aprovar</button>
              <button (click)="deletePagamento(pagamento.id)" class="btn btn-danger">Deletar</button>
              <button (click)="pagamentoDetails(pagamento.id)" class="btn btn-info" style="margin-left: 10px">Detalhes</button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
