<h2>Detalhes de Funcionários</h2>

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>Nome: </b></label> {{employee.nome}}
  </div>
  <div>
    <label><b>Cargo: </b></label> {{employee.cargo}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{employee.emailId}}
  </div>
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Voltar à Lista de Funcionários</button><br>
