<h3>Registrar novo Pagamento</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Descricao</label>
      <input type="text" class="form-control" id="descricao" required [(ngModel)]="pagamento.descricao" name="descricao">
    </div>

    <div class="form-group">
      <label for="name">Valor</label>
      <input type="number" min="0" class="form-control" id="valor" required [(ngModel)]="pagamento.valor" name="valor">
    </div>

    <div class="form-group">
      <label for="name">Data de Vencimento</label>
      <input type="date" class="form-control" id="dataVencimento" required [(ngModel)]="pagamento.dataVencimento" name="dataVencimento">
    </div>

    <div class="form-group">
      <label for="name">Solicitante: </label>
      <select class="form-control"  name="solicitantes" [(ngModel)]="pagamento.idSolicitante">
        <option *ngFor="let employee of employees | async" value="{{employee.id}}" name="idSolicitante">{{employee.nome}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Registrar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
